@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-neutral-200
    text-neutral-950
    dark:bg-neutral-900
    dark:text-neutral-200
    duration-400
    ease-in-out;
  }

  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block
    focus:outline-none;
  }

  .input-field {
    @apply block dark:bg-neutral-900 bg-neutral-200;
    focus: outline-none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 0px 0px #23232329;
  }

  @media (prefers-color-scheme: light) {
    input:-webkit-autofill {
      -webkit-text-fill-color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    input:-webkit-autofill {
      -webkit-text-fill-color: white;
    }
  }
}

@layer components {
  .input-wrapper {
    @apply relative;
  }

  .input-field {
    @apply ring-1
    rounded-xl
    ring-inset
    text-xs
    ring-neutral-400
    hover:ring-neutral-600
    dark:ring-neutral-700
    dark:hover:ring-neutral-500

    px-6
    h-12
    transition-shadow
    duration-400
    ease-in-out;
  }

  .input-field::placeholder {
    @apply opacity-0
    transition-opacity;
  }

  .input-field:focus::placeholder {
    @apply opacity-100;
  }

  .input-label {
    @apply absolute
    top-[16px]
    left-3
    text-xs
    px-2
    origin-[center_left]
    pointer-events-none

    transition-[color_transform]
    duration-300
    ease-in-out;
  }

  .input-wrapper:focus-within .input-label,
  .input-wrapper:has(.input-field:not(:placeholder-shown)) .input-label {
    @apply translate-x-0.5
    -translate-y-6
    dark:bg-neutral-900
    bg-neutral-200
    scale-[.9];
  }
}

.input-wrapper .helper {
  @apply text-xs
  px-6;
}

.helper {
  @apply dark:text-neutral-600;
}

.sidePanel {
  @apply bg-neutral-300 dark:bg-stone-800
  fixed
  top-0
  left-0
  h-dvh

  /* w-0 sets it to close when opened w-[70vw] */
  w-0 
/*hides the other elements until opened  */
  overflow-hidden 
  max-w-[70vw]
  transition-[width]
  duration-400
  ease-out
  z-35

  sm:max-w-[310px]

  lg:static
  lg:visible
  lg:w-full
  lg:opacity-100;
}

.sidePanel.open {
  @apply w-[70vw]
  duration-400
  ease-in-out

  sm:w-[310px];
}

.sidePanel-menu {
  @apply h-full
  grid
  grid-rows-[auto_auto_1fr_auto]
  grid-cols-1
  px-2
  opacity-0
  transition-opacity
  duration-400

  lg:opacity-100;
}

.sidePanel.open .sidePanel-menu {
  @apply opacity-100
  delay-200;
}

.overlay {
  @apply fixed
  top-0
  left-0
  w-full;
}

.sidePanel-link {
  @apply gap-2
  h-8
  rounded-full
  ps-3
  pe-3;
}

.sidePanel-link.selected {
  @apply bg-sky-400
  dark:bg-sky-500;
}

.state-layer {
  @apply absolute
  inset-0
  opacity-20
  transition-opacity
  duration-300
  ease-in-out
  dark:bg-sky-500
  hover:dark:bg-sky-400
  bg-sky-400
  rounded-full;
}

.overlay.open {
  @apply opacity-0
  absolute
  inset-0
  w-dvw
  h-dvh
  z-30
  lg:hidden
  lg:w-0
  lg:h-0;
}

.overlay {
  @apply w-0
  h-0;
}
