@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-neutral-200
    text-neutral-950
    dark:bg-neutral-900
    dark:text-neutral-200
    duration-400
    ease-in-out;
  }

  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block
    focus:outline-none;
  }

  .input-field {
    @apply block dark:bg-neutral-900 bg-neutral-200
    focus:outline-none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 0px 0px #23232329;
  }

  @media (prefers-color-scheme: light) {
    input:-webkit-autofill {
      -webkit-text-fill-color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    input:-webkit-autofill {
      -webkit-text-fill-color: white;
    }
  }
}

@layer components {
  .input-wrapper {
    @apply relative;
  }

  .input-field {
    @apply ring-1
    rounded-xl
    ring-inset
    text-xs
    ring-neutral-400
    hover:ring-neutral-600
    dark:ring-neutral-700
    dark:hover:ring-neutral-500

    px-6
    h-12
    transition-shadow
    duration-400
    ease-in-out;
  }

  .input-field::placeholder {
    @apply opacity-0
    transition-opacity;
  }

  .input-field:focus::placeholder {
    @apply opacity-100;
  }

  .input-label {
    @apply absolute
    top-[16px]
    left-3
    text-xs
    px-2
    origin-[center_left]
    pointer-events-none
    transition-[color_transform]
    duration-300
    ease-in-out;
  }

  .input-wrapper:focus-within .input-label,
  .input-wrapper:has(.input-field:not(:placeholder-shown)) .input-label {
    @apply translate-x-0.5
    -translate-y-6
    dark:bg-neutral-900
    bg-neutral-200
    scale-[.9];
  }
}

.input-wrapper .helper {
  @apply text-xs
  px-6;
}

.helper {
  @apply dark:text-neutral-600;
}

.sidePanel {
  @apply bg-neutral-300 dark:bg-stone-800
  fixed
  top-0
  left-0
  h-dvh

  /* w-0 sets it to close when opened w-[70vw] */
/*hides the other elements until opened  */
  w-0
  overflow-hidden
  max-w-[70vw]
  transition-[width]
  duration-400
  ease-out
  z-35

  sm:w-0
  md:relative md:w-0;
}

.sidePanel.open {
  @apply 
  w-[60vw]
  md:w-[330px]
  duration-400
  ease-in-out
}

.sidePanel-menu {
  @apply h-full
  grid
  grid-rows-[auto_auto_1fr_auto]
  grid-cols-1
  px-2

  opacity-0
  transition-opacity
  duration-400
  w-full
}

.sidePanel.open .sidePanel-menu {
  @apply 
  opacity-100
  delay-200
}

.overlay {
  @apply fixed
  top-0
  left-0
  w-full;
}

.sidePanel-link {
  @apply gap-2
  h-8
  rounded-full
  ps-3
  pe-3;
}

.sidePanel-link.selected {
  @apply bg-sky-400
  dark:bg-sky-500;
}

.state-layer {
  @apply absolute
  inset-0
  opacity-0
  transition-opacity
  duration-300
  ease-in-out
  bg-sky-600
  dark:bg-sky-200
  hover:opacity-30
  /* dark:bg-sky-500 */
  /* hover:dark:bg-sky-400 */
  /* bg-sky-400 */
  rounded-full;
}

.overlay.open {
  @apply opacity-0
  absolute
  inset-0
  w-dvw
  h-dvh
  z-30
  lg:hidden
  lg:w-0
  lg:h-0;
}

.overlay {
  @apply w-0
  h-0;
}

.chatInputContainer {
  @apply
  w-full
  rounded-xl
  flex
  flex-wrap
  items-end
  relative
  cursor-text
}

.chatInput {
  @apply
  flex-grow
  min-h-16
  max-h-50
  overflow-y-auto
  py-5
  mx-4
  
  rounded-lg
  outline-none
  whitespace-pre-wrap

  after:content-[attr(data-placeholder)]
  after:absolute
  after:left-4
  after:top-1/2
  after:-translate-y-1/2
  after:pointer-events-none
  after:dark:text-neutral-200;
}

.chatLayer {
  @apply
  rounded
  absolute
  bg-neutral-300
  dark:bg-neutral-800
  inset-0
  opacity-50
  pointer-events-none
  min-h-full
  h-auto
  overflow-hidden
}

.mkdn-response {
  @apply
  leading-6
  pt-2
}

.mkdn-response > :first-child {
  @apply
  !mt-0;
}

.mkdn-response :where(h1, h2, h3, h4, h5, h6) {
  @apply
  mt-7
  mb-3
  font-bold
}

.mkdn-response :where(table, pre, p) {
  @apply
  my-3
}

.mkdn-response :where(a, strong, span) {
  @apply
  inline
}

.mkdn-response :where(ul, ol) {
  list-style: revert;
  @apply
  ps-8
}

.mkdn-response code {
  @apply
  inline-block
  dark:text-neutral-400
  dark:bg-neutral-700/50
  rounded-md
  py-[2px]
  px-2
}

.mkdn-response pre code {
  @apply
  block
  overflow-x-auto
  py-2
  px-2
}

.mkdn-response table {
  @apply
  bg-neutral-400/50
  dark:bg-neutral-700/50
  block
  max-w-max
  overflow-auto
  rounded-md
  border-neutral-400/50
  dark:border-neutral-600/50
}


.mkdn-response table th{
  @apply
  text-left
  p-3
  whitespace-nowrap
  border-neutral-400/50
  dark:border-neutral-600/50
}

.mkdn-response table td{
  @apply
  text-left
  p-3
  whitespace-nowrap
  border-t-[1px]
  border-neutral-400/50
  dark:border-neutral-600/50
}

.mkdn-response a {
  @apply
  underline
  text-sky-500/80
  dark:text-sky-400/60
  break-words

}

.mkdn-response table tr > :first-child {
  @apply
  border-l-[1px]
}

.mkdn-response table tr > :last-child {
  @apply
  border-r-[1px]
  border-neutral-400/50
  dark:border-neutral-600/50
}

.mkdn-response .code-block {
  @apply
  bg-neutral-300/90
  dark:bg-neutral-800/90
  rounded-t-md
  rounded-b-sm
  overflow-hidden;
  mb-1
}

.mkdn-response .code-block * {
  @apply
  !bg-inherit
}

